EMBED_API_KEY =
EMBED_API_PATH = 
EMBED_MODELS = BAAI/bge-large-en-v1.5
OPENAI_API_COMPATIBLE_PATH = https://api.openai.com/v1
OPENAI_API_COMPATIBLE_KEY = 
REPO_PATH = 
REPO_OUTPUT_PATH = ./repos

MILVUS_DSN = tcp://localhost:19530